<div class="container">
  <hr>
  <div class="col-bmd-12" align="right"> <div class="list-group" align="left">
    <div align="center">

      <button (click)="backToLogin()" class="btn btn-outline-success">

    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
  </button>

      <button (click)="toShoppingList()" class="btn btn-outline-success btn-lg">

        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </button>

  </div>
  </div>
  </div>
  <hr>
  <div class="row justify-content-md-center" align="center">
    <h1 class="col col-lg-3"> Select Your <strong>Allergy</strong> </h1>
  </div>
  <hr>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2" align="center">

      <button
        (click)="productsById()"
        href="#" class="list-group-item list-group-item-action list-group-item-dark">Gluten</button>
    </div>

    <div class="col col-lg-2" align="center">
      <button href="#" class="list-group-item list-group-item-action list-group-item-warning">Lactose</button>
    </div>
    <div class="col col-lg-2" align="center">
      <button href="#" class="list-group-item list-group-item-action list-group-item-primary">Nut Allergy</button>
    </div>
  </div>

  <div class="row justify-content-md-center"> <p> </p> </div>

  <div class="row justify-content-md-center">
    <div class="col col-lg-2" align="center">
      <button href="#" class="list-group-item list-group-item-action list-group-item-danger">Soy</button>
    </div>
    <div class="col col-lg-2" align="center">
      <button href="#" class="list-group-item list-group-item-action list-group-item-secondary">Eggs</button>
    </div>
    <div class="col col-lg-2" align="center">
      <button href="#" class="list-group-item list-group-item-action list-group-item-success">Fish</button>
    </div>
  </div>

</div>
