<div class="container">
  <hr>
  <div class="col-bmd-12" align="right"> <div class="list-group" align="left">
    <div align="center">

      <button (click)="backToLogin()" class="btn btn-outline-success">

    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
  </button>

      <button (click)="toShoppingList()" class="btn btn-outline-success btn-lg">

        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </button>

  </div>
  </div>
  </div>
  <hr>
  <div class="row justify-content-md-center" align="center">
    <h1 class="col col-lg-3"> Select Your <strong>Ingredients</strong> </h1>
  </div>
  <hr>



  <a *ngFor="let ingredient of ingredients" class="list-group-item">
  <div class="list-group" (click)="addToExclusiveList(ingredient)">
    {{ingredient.name}}
  </div>
  </a>
  <hr>
  <h1> Selected Items that I am allergic to </h1>
  <a *ngFor="let selectedingredient of selectedIngredients" class="list-group-item">
      <div class="list-group">
        {{selectedingredient.name}}
      </div>
      <button (click)="AddToSelectedIngredientsIds(selectedingredient.id)">
        AddToSelectedItems
      </button>
  </a>
  <button (click)="productsById()">
    Desired Products
  </button>
  <button (click)="clearFromExclusiveList()">
    ClearAll
  </button>
  <div>
  <a *ngFor="let filteredProduct of filteredProducts" class="list-group.item">
    <div class="list-group">
      {{filteredProduct.name}}
    </div>
  </a>
  </div>
</div>
