<h1 align="center"> Administrator/User Login </h1>

<hr>
<hr>
<hr>
<hr>
<div class="row justify-content-md-center">
  <div class="col col-lg-2" align="center">

    <button type="button" class="list-group-item list-group-item-action list-group-item-info btn-lg" (click)="adminView()">
      <i class="fa fa-user-circle" aria-hidden="true"></i> <strong>Admin</strong>
    </button>

  </div>

  <div class="col col-lg-2" align="center">

    <button class="list-group-item-action list-group-item list-group-item-warning btn-lg" (click)="userView()">
      <i class="fa fa-user-o" aria-hidden="true"></i> <strong>User</strong>
    </button>

  </div>
</div>

<hr>
<hr>
<hr>
<hr>

