
<div>
  <div class="col-md-12" align="right"> <div class="list-group" align="left"> <div align="center"> <button (click)="backToAllergies()" class="btn btn-outline-success">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
  </button>
  </div>
     </div>
  </div>
  <hr>
  <h1 align="center"> Shopping List </h1>
  <a
    *ngFor="let productName of shoppingList" class="row list-group-item list-group-item-action">
    <h5>Product: {{productName}}</h5>


  </a>
  <div align="right">
  <button type="button" class="btn btn-danger" (click)="(clearProduct())">
    <i class="fa fa-eraser" aria-hidden="true"></i>
    Clear
  </button>
  </div>
</div>
