<hr>
<h5 align="center"> <button (click)="backToAllergies()" class="btn btn-outline-success">
  <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
</button>
</h5>
<hr>

<h1 align = 'center'  >
  List of products without <strong>Gluten</strong>
</h1>

<hr>

<div class="col-lg-10">

<a
  *ngFor="let product of products" class="col-lg-4 list-group-item" >
  <h5>Product: {{product.name}} <h5> Type: {{product.type}}</h5> </h5>
  <hr>
  <h4 > List of ingredients: </h4>
  <h5 *ngFor="let ingredient of product?.ingredients"> {{ingredient.name}} </h5>

</a>

</div>


