<div class="container">
  <div class="row justify-content-md-center" align="center">
    <p class="col col-lg-3"> Choose Your Allergy! </p>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2" align="center">
      <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Gluten</a>
    </div>
    <div class="col col-lg-2" align="center">
      <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Lactose</a>
    </div>
    <div class="col col-lg-2" align="center">
      <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Nut Allergy</a>
    </div>
  </div>

  <div class="row justify-content-md-center"> <p> </p> </div>

  <div class="row justify-content-md-center">
    <div class="col col-lg-2" align="center">
      <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Soy</a>
    </div>
    <div class="col col-lg-2" align="center">
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Eggs</a>
    </div>
    <div class="col col-lg-2" align="center">
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Fish</a>
    </div>
  </div>
</div>>
