.container {

  margin: 1px;
}
.list-group-item {
  margin: 16px;
}
.row {
  margin-left: 16px;
}
.row:hover {
  color: white;
}
.row1:hover {
  color: white;
}
.show > .dropdown-menu {
  display: block;
  overflow: auto;
  max-height:250px;
  max-width: 1000px;
}

