<hr>
<div>
  <div class="col-md-12" align="right"> <div class="list-group" align="left"> <div align="center">
    <button (click)="backToLogin()" class="btn btn-outline-success">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
  </button>
  </div>
   </div>
    </div>
  <form (ngSubmit)="addProduct()" [formGroup]="productGroup" novalidate >
    <hr>
  <div class="container" align="left">
    <label class="center-block col-md-6">Product:
      <input class="form-control col-md-6" formControlName="name">
    </label>

    <label class="center-block col-md-6">Type:
      <input class="form-control col-md-6" formControlName="type">
    </label>
    <button type="submit"
      class="row list-group-item list-group-item-success">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Create
    </button>
  </div>
</form>
<div>
  <form (ngSubmit)="addToIngredients()" [formGroup]="ingredientGroup" novalidate >
    <label class="center-block col-md-6">Ingredient:
      <input class="form-control col-md-6" formControlName="name">
    </label>
  <button type="submit">
    Add Ingredient
  </button>
  </form>
</div>
  <hr>
  <a
    *ngFor="let product of products" class="row list-group-item list-group-item-action">
    <form (ngSubmit)="editSpecificProduct(product.id)" [formGroup]="productGroup" novalidate >
    <h5>Product: {{product.name}} <h5> Type: {{product.type}} </h5> </h5>
    <div align="right">
      <label class="center-block col-md-6">Product:
        <input class="form-control col-md-6" formControlName="name">
      </label>

      <label class="center-block col-md-6">Type:
        <input  class="form-control col-md-6" formControlName="type">

      </label>
      <div align="right">
      <button type="button" class="btn btn-danger btn-md" (click)="delete(product.id, $event)">
        <i class="fa fa-eraser" aria-hidden="true"></i>
        Delete
      </button>
        <button type="submit" class="row list-group-item list-group-item-info"> Edit </button>
        <div class="col text-right">
          <div ngbDropdown placement="top-right" class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Ingredients to add</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <a *ngFor="let ingredient of ingredients" class="row list-group-item list-group-item-action">
                <h5>
                  <button (click)="addIngredientToProduct(product.name, product.type, product.id, ingredient.id)" type="button" class="dropdown-item">{{ingredient.name}}</button>
                </h5>
              </a>

            </div>
          </div>
        </div>
      </div>


    </div>
    </form>
  </a>

</div>
